# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de entorno y configuracion local
.env
.env.*

# Editores e IDEs
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db
